@use '@styles/mixins' as *;


.speech_bubble {
    display: inline-block;
    background: transparent;
    position: relative;
    max-width: var(--speech-bubble-max-width);
    width: fit-content;
    .svg_content {
        position: absolute; // SVG теперь просто фон
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; // Уводим за текст
    }

    .content {
        position: relative; 
        z-index: 2;
        // Добавляем отступы, чтобы текст не касался рамок SVG
        padding: 20px 25px 40px 25px; // Снизу больше места под хвостик
        box-sizing: border-box;
        word-wrap: break-word; // Чтобы длинные слова не ломали верстку
        &.left_tail {
            padding: 20px 25px 20px 45px;
        }
        .title {
            @include text-style(16px, 600, rgba(0, 0, 0, 1), 100%, 0%);
            margin-bottom: 2rem;
        }
        .children, .footer {
            margin-bottom: 2rem;
            @include text-style(15px, 400, rgba(0, 0, 0, 1), 100%, 0%);
        }
    }
}