
.about_us_section {
    width: 100%;
    height: auto;
    margin-top: 47px;
    .about_us_section__content {
        max-width: 1200px;
        width: 100%;

        
        justify-self: center;
    }
}