@use '@styles/mixins' as *;
@use '@styles/vars' as *;

.footer__main_info {
    margin-top: 5.9rem;
    width: 100%;
    height: max-content;
    

    display: flex;
    flex-direction: column;
    gap: 4.3rem;

    .information {
        display: inline-flex;
        flex-direction: column;
        gap: 12px;
        .tel {
            @include text-style(1.8rem, 600, #FFFFFF, 26px)
        }

        .address, .email {
            @include text-style(1.4rem, 500, rgba(189, 189, 189, 1), 26px);
        }
    }

    .social {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &::after {
        content: '© ХОД, Future Academy';
        @include text-style(1.2rem, 400, rgba(189, 189, 189, 1), 100%)
    }
}