@use '@styles/mixins' as *;

.navigation {
    width: 100%;

    // Основной список навигации
    
    .navigation__list.header {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        text-align: center;
        

        // Светлая тема (Light Mode)
        &.light {
            .link {
                display: inline-block;
                
                width: auto;
                // Применяем миксин для базовых параметров текста
                @include text-style(1.4rem, 500, #000000, 100%, 0);
            }
            .link_wrapper {
                // Добавляем иконку перед первым пунктом меню
                display: inline-flex;
                align-items: center;
                gap: 6px;
                white-space: nowrap;
                
                &:first-child {
                    
                    
                    &::before {
                        content: url('@assets/nav-icon.svg');
                        width: 20px;
                        height: 17px;
                    }
                }
            }
        }

          // Темная тема (Dark Mode)
        &.dark {
            .link {

                @include text-style(1.4rem, 450, #FFFFFF, 100%, 0%);
            }

            .link_wrapper {
                width: auto;
                white-space: nowrap;
                &:first-child {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    &::before {
                        content: url('@assets/nav-icon.svg');
                        width: 20px;
                        height: 15px;
                        // Инвертируем цвета иконки, чтобы она стала белой на темном фоне
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

    .navigation__list.footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.5rem;
        .link {
            &.footer {
                @include text-style(1.4rem, 400, #FFFFFF, 34px, 0%);
            }
        }
    }

}