@use '@styles/vars' as *;
@use '@styles/mixins' as *;
.footer {
    width: 100%;
    height: 560px;

    background: $dark-navy-blue;
    display: grid;
    align-items: center;
    .footer__content {
        max-width: 1200px;
        max-height: 434px;

        width: 100%;
        height: 100%;
        background: rebeccapurple;
        margin: 0 auto;

        display: grid;
        grid-template-columns: max-content auto;
        gap: 8.6rem;
        .footer__nav_wrapper {
            display: flex;
            gap: 6rem;

            .nav_column {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                text-align: left;
                .nav_column__title {
                    @include text-style(1.6rem, 700, #FFFFFF, 26px)
                }
            }
        }
    }
}